@font-face {
    font-family: 'HypatiaSansPro';
    src: url('../fonts/HypatiaSansPro-ExtraLight.woff2') format('woff2'),
        url('../fonts/HypatiaSansPro-ExtraLight.woff') format('woff'),
        url('../fonts/HypatiaSansPro-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HypatiaSansPro';
    src: url('../fonts/HypatiaSansPro-Light.woff2') format('woff2'),
        url('../fonts/HypatiaSansPro-Light.woff') format('woff'),
        url('../fonts/HypatiaSansPro-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HypatiaSansPro';
    src: url('../fonts/HypatiaSansPro-Regular.woff2') format('woff2'),
        url('../fonts/HypatiaSansPro-Regular.woff') format('woff'),
        url('../fonts/HypatiaSansPro-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HypatiaSansPro';
    src: url('../fonts/HypatiaSansPro-Semibold.woff2') format('woff2'),
        url('../fonts/HypatiaSansPro-Semibold.woff') format('woff'),
        url('../fonts/HypatiaSansPro-Semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HypatiaSansPro';
    src: url('../fonts/HypatiaSansPro-Bold.woff2') format('woff2'),
        url('../fonts/HypatiaSansPro-Bold.woff') format('woff'),
        url('../fonts/HypatiaSansPro-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HypatiaSansPro';
    src: url('../fonts/HypatiaSansPro-Black.woff2') format('woff2'),
        url('../fonts/HypatiaSansPro-Black.woff') format('woff'),
        url('../fonts/HypatiaSansPro-Black.ttf') format('ttff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}






