@media (max-width:1270px) {
  body {
    font-size: 12px;
  }
  .container {
    max-width: 780px;
    padding: 0px 10px;
  }
  .title {
    font-size: 20px;
    line-height: 25px;
  }
  .header__logo-icon {
    width: 87px;
    height: 14px;
  }
  .header__menu {
    .menu__list {
      li + li {
        margin-left: 40px;
      }
    }
  }
  .header__box {
    .favorites-item {
      width: 19px;
      height: 17.5px;
      &::before {
        width: 19px;
        height: 17.5px;
      }
    }
    .basket-item {
      width: 17px;
      height: 20px;
      span {
        right: -8px;
        bottom: -70%;
      }
      &::before {
        width: 17px;
        height: 20px;
      }
    }
  }
  .footer {
    margin-bottom: 100px;
  }
  .footer__item {
    &-social {
      margin-bottom: 40px; 
      li + li {
        margin-left: 26px;
      }
      a {
        width: 26px;
        height: 26px;
      }
    }
    &-title {
      font-size: 14px;
    }
    &-news {
      margin-bottom: 40px;
      form {
        width: 198px;
        input {
          width: 198px; 
        }
        button {
          padding: 15px 54px;
        }
      }
    }
  }
  .banner {
    padding: 30px 0px 50px;
    &__item {
      &-text {
        max-width: 186px;
        margin-right: 10px;
        h1 {
          font-size: 32px;
          line-height: 35px;
          padding-bottom: 10px;
        }
        p {
          font-size: 12px;
          padding-bottom: 20px;
          line-height: 18px;
        }
        img {
          width: 64px;
          height: 52px;
          margin-bottom: 34px;
        }
      }
      &-img {
        max-width: 557px;
        height: 337px;
        padding-left: 0;
        height: 337px;
      }
      &-image {
        max-width: 557px;
        min-height: 337px;
      }
    }
    &-btn {
      padding: 12px 32px;
    }
  }
  .banner__slick .slick-dots li {
    width: 7px;
    height: 7px;
    margin: 0px 5px;
  }
  .banner__slick .slick-dots button {
    width: 7px;
    height: 7px;
  }
    .product__title {
      margin-bottom: 11px;
    }
    .product__item {
      max-width: 184px; 
      &-content {
        margin-top: 5px;
      }
      &-img {
        min-height: 184px;
      }
      &-hover {
        max-width: 184px;
        min-height: 184px;
        .hover-favorite {
          svg {
            top: 8px;
            right: 10px;
            width: 16px;
            height: 15px;
          }
        }
      }
    }
    .slick-arrow {
      top: -35px;
      padding: 0;
      img {
        width: 21px;
        height: 21px;
      }
    }
    .slick-prev {
      right: 30px;
  }
  .slick-next {
    padding-right: 5px;
  }
  .popular {
    margin-bottom: 56px;
  }
  .features {
    margin-bottom: 50px;
    &__inner {
      padding: 0px 45px;
    }
    &__item {
      &-img {
        width: 64px;
        height: 64px;
      }
      &-text {
        font-size: 11px;
        line-height: 15px;
      }
    }
  }
  .earrings,
  .rings,
  .pendants {
    margin-bottom: 22px;
  }
}
@media (max-width:800px) {
  body {
    font-size: 10px;
  }
  .container {
    max-width: 662px;
    padding: 0px 10px;
  }
  .title {
    font-size: 19px;
    line-height: 23px;
  }
  .header__logo-icon {
    width: 74px;
    height: 11px;
  }
  .header__menu {
    .menu__list {
      li + li {
        margin-left: 34px;
      }
    }
  }
  .header__box {
    .favorites-item {
      width: 19px;
      height: 17.5px;
      &::before {
        width: 19px;
        height: 17.5px;
      }
    }
    .basket-item {
      width: 17px;
      height: 20px;
      span {
        right: -8px;
        bottom: -70%;
      }
      &::before {
        width: 17px;
        height: 20px;
      }
    }
  }
  .footer {
    margin-bottom: 85px;
    padding-top: 44px;
  }
  .footer__item {
    &-social {
      margin-bottom: 30px; 
      li + li {
        margin-left: 20px;
      }
      a {
        width: 22px;
        height: 22px;
      }
    }
    &-title {
      font-size: 12px;
    }
    &-news {
      margin-bottom: 30px;
      form {
        width: 167px;
        input {
          width: 167px; 
        }
        button {
          padding: 9px 43px;
        }
      }
    }
  }
  .banner {
    padding: 30px 0px 50px;
    &__item {
      &-text {
        max-width: 160px;
        margin-right: 7px;
        height: 292px;
        h1 {
          font-size: 25px;
          line-height: 32px;
          padding-bottom: 0px;
          
        }
        p {
          font-size: 9.5px;
          padding-bottom: 0px;
          line-height: 12px;
        }
        img {
          width: 56px;
          height: 46px;
          margin-bottom: 0px;
        }
      }
      &-img {
        max-width: 483px;
        height: 292px;
        padding-left: 0;
      }
      &-image {
        max-width: 483px;
        min-height: 292px;
      }
    }
    &-btn {
      padding: 10px 25px;
      line-height: 12px;
    }
  }
  .banner__slick .slick-dots li {
    width: 5.8px;
    height: 5.8px;
    margin: 0px 4px;
  }
  .banner__slick .slick-dots button {
    width: 5.8px;
    height: 5.8px;
  }
    .product__title {
      margin-bottom: 11px;
    }
    .product__item {
      max-width: 157px; 
      &-content {
        margin-top: 5px;
      }
      &-img {
        min-height: 157px;
      }
      &-hover {
        max-width: 157px;
        min-height: 157px;
      }
    }
    .slick-arrow {
      top: -35px;
      padding: 0;
      img {
        width: 21px;
        height: 21px;
      }
    }
    .slick-prev {
      right: 30px;
  }
  .popular {
    margin-bottom: 40px;
  }
  .features {
    margin-bottom: 42px;
    &__inner {
      padding: 0px 45px;
    }
    &__item {
      &-img {
        width: 56px;
        height: 56px;
      }
      &-text {
        font-size: 9px;
        line-height: 11px;
      }
    }
  }
  .earrings,
  .rings,
  .pendants {
    margin-bottom: 20px;
  }
}
@media (max-width:680px) {
  .container {
    max-width: 300px;
    padding: 0px 5px;
  }
  .title {
    font-size: 17px;
    line-height: 20px;
  }
  .header__menu {
    .menu__list {
      li + li {
        margin-left: 34px;
      }
    }
  }
  .header__box {
    .favorites-item {
      width: 19px;
      height: 17.5px;
      &::before {
        width: 19px;
        height: 17.5px;
      }
    }
    .basket-item {
      width: 17px;
      height: 20px;
      span {
        right: -8px;
        bottom: -70%;
      }
      &::before {
        width: 17px;
        height: 20px;
      }
    }
  }
  .footer {
    margin-bottom: 85px;
    padding-top: 44px;
  }
  .footer__item {
    &-social {
      margin-bottom: 30px; 
      li + li {
        margin-left: 20px;
      }
      a {
        width: 22px;
        height: 22px;
      }
    }
    &-title {
      font-size: 12px;
    }
    &-news {
      margin-bottom: 30px;
      width: 294px;
      form {
        width: 294px;
        input {
          width: 294px; 
        }
        button {
          padding: 9px 43px;
          width: 294px;
        }
      }
    }
  }
  .banner {
    padding: 30px 0px 45px;
    &__item {
      &-text {
        max-width: 140px;
        margin-right: 7px;
        height: auto;
        h1 {
          font-size: 24px;
          line-height: 30px;
        }
        p {
          display: none;
        }
        img {
          width: 50px;
          height: 40px;
        }
      }
      &-img {
        max-width: 140px;
        height: 140px;
      }
      &-image {
        max-width: 140px;
        min-height: 140px;
      }
    }
    &-btn {
      display: none;
    }
    .btn-mobile {
      display: block;
      margin-top: 15px;
      width: 100%;
    }
  }
    .product__title {
      margin-bottom: 10px;
    }
    .product__item {
      max-width: 140px; 
      &-content {
        margin-top: 5px;
      }
      &-img {
        min-height: 140px;
      }
      &-hover {
        max-width: 140px;
        min-height: 140px;
      }
    }
  .popular {
    margin-bottom: 40px;
  }
  .features {
    margin-bottom: 42px;
    &__inner {
      padding: 0px 45px;
    }
    &__item {
      &-img {
        width: 56px;
        height: 56px;
      }
      &-text {
        font-size: 9px;
        line-height: 11px;
      }
    }
  }
}
