@media (max-width:1270px) {
  body {
    font-size: 12px;
  }
  .container {
    max-width: 780px;
    padding: 0px 10px;
  }
  .breadcrumbs__inner {
    padding: 20px 0px;
  }
  .title {
    font-size: 20px;
    line-height: 25px;
  }
  .header {
    height: 72px;
  }
  .header__wrapper {
    height: 72px;
  }
  .header__inner {
    height: 72px;
  }
  .header__logo-icon {
    width: 87px;
    height: 14px;
  }
  .header__menu {
    .menu__list {
      li {
        height: 72px;
      }
      li + li {
        margin-left: 40px;
      }
    }
  }
  .header__box {
    .favorites-item {
      width: 19px;
      height: 17.5px;
      &::before {
        width: 19px;
        height: 17.5px;
      }
    }
    .basket-item {
      width: 17px;
      height: 20px;
      span {
        right: -8px;
        bottom: -70%;
      }
      &::before {
        width: 17px;
        height: 20px;
      }
    }
    &-list {
      li {
        height: 72px;
      }
    }
  }
  .header__box .header__box-list {
    li {
      height: 72px;
    }
  }
  .dropdown__menu {
    top: 41px;
  }
  .footer {
    margin-bottom: 100px;
  }
  .footer__item {
    &-social {
      margin-bottom: 40px; 
      li + li {
        margin-left: 26px;
      }
      a {
        width: 26px;
        height: 26px;
      }
    }
    &-title {
      font-size: 14px;
    }
    &-news {
      margin-bottom: 40px;
      form {
        width: 198px;
        input {
          width: 198px; 
        }
        button {
          padding: 15px 54px;
        }
      }
    }
  }
  .banner {
    padding: 30px 0px 50px;
    &__item {
      &-text {
        max-width: 186px;
        margin-right: 10px;
        h1 {
          font-size: 32px;
          line-height: 35px;
          padding-bottom: 10px;
        }
        p {
          font-size: 12px;
          padding-bottom: 20px;
          line-height: 18px;
        }
        img {
          width: 64px;
          height: 52px;
          margin-bottom: 34px;
        }
      }
      &-img {
        max-width: 557px;
        height: 337px;
        padding-left: 0;
        height: 337px;
      }
      &-image {
        max-width: 557px;
        min-height: 337px;
      }
    }
    &-btn {
      padding: 12px 32px;
    }
  }
  .banner__slick .slick-dots li {
    width: 7px;
    height: 7px;
    margin: 0px 5px;
  }
  .banner__slick .slick-dots button {
    width: 7px;
    height: 7px;
  }
    .product__title {
      margin-bottom: 11px;
    }
    .product__item {
      max-width: 184px; 
      &-content {
        margin-top: 5px;
      }
      &-img {
        min-height: 184px;
      }
      &-hover {
        .hover-favorite {
          svg {
            top: 8px;
            right: 10px;
            width: 16px;
            height: 15px;
          }
        }
      }
    }
    .slick-arrow {
      top: -35px;
      padding: 0;
      img {
        width: 21px;
        height: 21px;
      }
    }
    .slick-prev {
      right: 30px;
  }
  .slick-next {
    padding-right: 5px;
  }
  .popular {
    margin-bottom: 56px;
  }
  .features {
    margin-bottom: 50px;
    &__inner {
      padding: 0px 45px;
    }
    &__item {
      &-img {
        width: 64px;
        height: 64px;
      }
      &-text {
        font-size: 11px;
        line-height: 15px;
      }
    }
  }
  .earrings,
  .rings,
  .pendants {
    margin-bottom: 22px;
  }
  .about__img {
    max-width: 382px;
    height: 289px;
  }
  .about__text {
    max-width: 384px;
    margin-right: 13px;
    p {
      margin-bottom: 23px;
    }
  }
  .info__text {
    margin-bottom: 30px;
    h3 {
      font-size: 16px;
    }
    ul {
      li {
        padding-left: 12px;
      }
    }
  }
  .care__banner { 
    max-width: 382px;
    margin-bottom: 230px;
    a {
      min-height: 381px;
    }
  }
  .basket__inner {
    margin-top: 25px;
    margin-bottom: 0;
    form {
      table {
        td {
          padding: 30px 0px;
        }
      }
      .basket__item {
        &-product {
          width: 326px;
        }
        &-img {
          width: 78px;
          height: 78px;
        }
        &-price,
        &-sum, 
        &-total {
          width: 130px;
          span {
            font-size: 20px;
          }
        }
        &-remove {
          width: 32px;
        }
      }
    }
  }
  .basket__btn-inner {
    p {
      font-size: 20px;
    }
  }
  .basket__btn-box {
    a {
      width: 288px;
      padding: 15px 0px;
      &.basket__btn {
        padding: 15px 0px;
        line-height: 15px;
      }
    }
  }
  .confirmation {
    &__img {
      width: 80px;
      height: 80px;
    }
    &__text {
      margin-top: 16px;
      font-size: 20px;
      line-height: 30px;
    }
  }
  .contact {
    .about__title {
      margin-bottom: 28px;
    }
    &__inner {
      height: 182px;
      margin-bottom: 25px;
    }
    &__box {
      max-width: 188px;
      padding: 20px 15px 27px 0px;
      p {
        margin-bottom: 10px;
        line-height: 15px;
      }
      a {
        line-height: 15px;
      }
    }
    &__address {
      margin: 10px 0px;
    }
  }
  .order {
    &__inner {
      .title {
      margin-bottom: 15px;
      }
      h3 {
        margin-bottom: 19px;
      }
      form {
        margin-bottom: 30px;
        fieldset {
          .jq-selectbox {
            margin: 10px 0px;
          }
          .order__input {
            margin: 10px 0px;
            padding: 8px 10px;
          }
          .jq-selectbox__select {
            font-size: 12px;
            padding: 0 35px 0 10px;
          }
        .jq-selectbox__trigger {
          &-arrow {
            width: 11px;
            height: 6px;
            top: 11px;
            right: 10px;
          }
        }
          .jq-selectbox__dropdown {
          font-size: 12px;
          }
          .order__checkbox {
            &:last-child {
              margin-top: 10px;
            }
            p {
              max-width: 166px;
            }
          }
        }
      }
      .order__aside {
        max-width: 186px;
        margin-right: 12px;
      }
    }
    &__product {
      max-width: 582px;
      &-label {
        margin-bottom: 10px;
      }
      &-box {
        label.delivery__label {
          max-width: 272px;
        }
        .jq-selectbox__select {
          max-width: 272px;
        }
      }
      &-item {
        display: flex;
        &:last-child {
          p {
            border-bottom: none;
          }
        }
      }
      &-number {
        padding-left: 8px;
        margin-left: 6px;
      }
      &-address {
        &::before {
          font-size: 12px;
          right: -30px;
          margin-bottom: -3px;
        }
      }
      &-delivery {
        margin-bottom: 14px;
        display: none;
        position: relative;
        &::before {
          font-size: 12px;
          margin-bottom: -3px;
        }
        &.active {
          display: block;
        }
      }
      &-pay {
        max-width: 272px;
      }
    }
  }
  .payment {
    .info__text {
      margin-bottom: 0;
      h3 {
        margin-bottom: 20px;
      }
      ul {
        margin-bottom: 20px;
      }
    }
    .about__text p {
      margin-bottom: 20px;
    }
  }
  .shop {
    &__inner {
      &-btn {
        margin-bottom: 55px;
        .shop-btn {        
          padding: 15px 45px;
          max-width: 185px;
        }
      }
      &-box {
        margin-bottom: 8px;
        margin-left: -8px;
        .product__item {
          margin-left: 8px;
          margin-bottom: 28px;
        }
      }
    }
  }
  .pagination {
    margin-bottom: 26px;
    margin-top: 18px;
  }
  .product__item {
    &-hover {
      .hover-favorite {
        svg {
          width: 19px;
          height: 18px;
        }
      }
      .hover-basket {
        padding: 10px 0px;
      }
    }
  }
  .product-card {
    &__inner {
      margin-bottom: 55px;
    }
    &__item {
      margin-right: 53px;
    }
    &__gallery {
      .full {
        margin-bottom: 9px;
        img {
          max-width: 382px;
        }
      }
      .thumbs {
        max-width: 382px;
        a {
          & + a {
            margin-left: 10px;
          }
          img {
            max-width: 87px;
          }
        }
        
      }
    }
    &__text {
      margin-top: 0px;
      .title {
        margin-bottom: 0px;
      }
    }
    &__code {
      margin-bottom: 20px;
    }
    &__price {
      margin-bottom: 20px;
      span {
        font-size: 12px;
        margin-top: 5px;
      }
    }
    &__description {
      p {
        margin-bottom: 18px;
        
      }
    }
    &__popular {
      margin-bottom: 17px;
    }
  }
  .product-form {
    .jq-selectbox__select {
      font-size: 12px;
    }
    .jq-selectbox__dropdown {
      font-size: 12px;
    }
  }
  .viewed-item {
    margin-bottom: 33px;
    .product__item {
      & + .product__item {
        margin-left: 8px;
      }
    }
  }
}
@media (max-width:800px) {
  body {
    font-size: 10px;
  }
  .container {
    max-width: 662px;
    padding: 0px 10px;
  }
  .title {
    font-size: 17px;
    line-height: 20px;
  }
  .header {
    height: 63px;
    &__wrapper {
      height: 63px;
    }
    &__inner {
      height: 63px;
    }
    &__logo-icon {
      width: 74px;
    height: 11px;
    }
  }
  .header__menu {
    .menu__list {
      margin-top: 51px;
      li {
        height: 63px;
      }
      li + li {
        margin-left: 34px;
      }
    }
  }
  .header__box {
    .favorites-item {
      width: 19px;
      height: 17.5px;
      &::before {
        width: 19px;
        height: 17.5px;
      }
    }
    .basket-item {
      width: 17px;
      height: 20px;
      span {
        right: -8px;
        bottom: -70%;
      }
      &::before {
        width: 17px;
        height: 20px;
      }
    }
    &-list {
      li {
        height: 63px;
      }
    }
  }
  .header__box .header__box-list {
    margin-top: 51px;
    li {
      height: 63px;
    }
  }
  .dropdown__menu {
    top: 37px;
  }
  .footer {
    margin-bottom: 85px;
    padding-top: 44px;
  }
  .footer__item {
    &-social {
      margin-bottom: 30px; 
      li + li {
        margin-left: 20px;
      }
      a {
        width: 22px;
        height: 22px;
      }
    }
    &-title {
      font-size: 12px;
    }
    &-news {
      margin-bottom: 30px;
      form {
        width: 167px;
        input {
          width: 167px; 
        }
        button {
          padding: 9px 43px;
        }
      }
    }
  }
  .banner {
    padding: 30px 0px 50px;
    &__item {
      &-text {
        max-width: 160px;
        margin-right: 7px;
        height: 292px;
        h1 {
          font-size: 25px;
          line-height: 32px;
          padding-bottom: 0px;
          
        }
        p {
          font-size: 9.5px;
          padding-bottom: 0px;
          line-height: 12px;
        }
        img {
          width: 56px;
          height: 46px;
          margin-bottom: 0px;
        }
      }
      &-img {
        max-width: 483px;
        height: 292px;
        padding-left: 0;
      }
      &-image {
        max-width: 483px;
        min-height: 292px;
      }
    }
    &-btn {
      padding: 10px 25px;
      line-height: 12px;
    }
  }
  .banner__slick .slick-dots li {
    width: 5.8px;
    height: 5.8px;
    margin: 0px 4px;
  }
  .banner__slick .slick-dots button {
    width: 5.8px;
    height: 5.8px;
  }
    .product__title {
      margin-bottom: 11px;
    }
    .product__item {
      max-width: 157px; 
      &-content {
        margin-top: 5px;
      }
      &-img {
        min-height: 157px;
      }
      &-price {
        margin-left: 25px;
      }
    }
    .slick-arrow {
      top: -35px;
      padding: 0;
      img {
        width: 21px;
        height: 21px;
      }
    }
    .slick-prev {
      right: 30px;
  }
  .popular {
    margin-bottom: 40px;
  }
  .features {
    margin-bottom: 42px;
    &__inner {
      padding: 0px 45px;
    }
    &__item {
      &-img {
        width: 56px;
        height: 56px;
      }
      &-text {
        font-size: 9px;
        line-height: 11px;
      }
    }
  }
  .earrings,
  .rings,
  .pendants {
    margin-bottom: 20px;
  }
  .about__img {
    max-width: 324px;
    height: 245px;
    margin-top: 22px;
  }
  .about__text {
    max-width: 325px;
    margin-right: 10px;
    p {
      margin-bottom: 12px;
    }
  }
  .info__text {
    h3 {
      margin-bottom: 22px;
    }
    ul {
      margin-bottom: 18px;
      li {
        margin-bottom: 16px;
      }
    }
  }
  .care__items .info__text h3 {
    margin-bottom: 15px;
  }
  .care__items {
    .about__text {
      margin-bottom: 0;
    }
  }
  .care__banner { 
    max-width: 324px;
    margin-bottom: 190px;
    a {
      min-height: 323px;
    }
  }
  .liked-product__inner {
    margin-left: -10px;
    margin-bottom: 170px;
    .product__item {
      margin-left: 10px;
    }
  }
  .basket__inner {
    margin-top: 20px;
    form {
      table {
        td {
          padding: 24px 0px;
        }
      }
      .basket__item {
        &-product {
          width: 290px;
        }
        &-img {
          width: 68px;
          height: 68px;
        }
        &-price, 
        &-total {
          width: 90px;
          span {
            font-size: 17px;
          }
        }
        &-sum {
          width: 130px;
        }
      }
    }
  }
  .basket__btn-inner {
    p {
      font-size: 17px;
      margin-bottom: 10px;
    }
  }
  .basket__btn-box {
    a {
      width: 250px;
      padding: 12px 0px;
      &.basket__btn {
        padding: 12px 0px;
        line-height: 15px;
        margin-top: 10px;
      }
    }
  }
  .confirmation {
    &__img {
      width: 60px;
      height: 60px;
    }
    &__text {
      font-size: 17px;
      line-height: 25px;
    }
  }
  .liked-product__inner {
    margin-bottom: 136px;
  }
  .contact {
    .about__title {
      margin-bottom: 24px;
    }
    &__inner {
      height: 154px;
    }
    &__box {
      max-width: 160px;
      padding: 18px 11px 20px 0px;
      p {
        margin-bottom: 5px;
        line-height: 12px;
      }
      a {
        line-height: 12px;
      }
      .footer__item-social {
        li + li {
          margin-left: 20px;
        }
        
      }
    }
    &__address {
      margin: 5px 0px 6px;
    }
  }
  .order {
    &__inner {
      h3 {
        font-size: 17px;
      }
      form {
        fieldset {
          .order__input {
            margin: 6px 0px;
            max-width: 185px;
          }
          .jq-selectbox {
            margin: 6px 0px;
          }
          .jq-selectbox__select {
            font-size: 10px;
            padding: 0 35px 0 10px;
          }
        .jq-selectbox__trigger {
          &-arrow {
            width: 11px;
            height: 6px;
            display: block;
            top: 11px;
            right: 10px;
          }
        }
          .jq-selectbox__dropdown {
          font-size: 10px;
          }
          .order__checkbox {
            margin-top: 23px;
            &:last-child {
              margin-top: 10px;
            }
            p {
              max-width: 166px;
            }
          }
        }
      }
      .order__aside {
        max-width: 159px;
        margin-right: 9px;
      }
    }
    &__product {
      max-width: 582px;
      &-label {
        margin-bottom: 5px;
      }
      &-box {
        label.delivery__label {
          max-width: 230px;
        }
        .jq-selectbox__select {
          max-width: 230px;
          
        }
      }
      &-item {
        display: flex;
        &:last-child {
          p {
            border-bottom: none;
          }
        }
        p {
          width: 50%;
          padding: 10px;
          border-bottom: 1px solid #000;
        }
      }
      &-header {
        p {
          padding: 5px 10px;
        }
      }
      &-info {
        padding: 20px;
        padding-bottom: 10px;
      }
      &-address {
        margin-bottom: 15px;
        &::before {
          font-size: 10px;
          right: -25px;
          margin-bottom: -7px;
        }
      }
      &-delivery {
        margin-bottom: 14px;
        display: none;
        position: relative;
        &::before {
          font-size: 10px;
          margin-bottom: -7px;
        }
      }
      &-pay {
        max-width: 230px;
        label {
          margin-bottom: 10px;
        }
        .order__product-row {
          margin-bottom: 10px;
          p {
          max-width: 145px;
          }
        }
      }
      &-sum {
        padding: 28px;
        font-size: 17px;
        p {
          width: 54%;
        }
      }
      &-btn {
        margin-top: 12px;
        padding: 12px;
      }
    }
  }
  .payment {
    .info__text {
      margin-bottom: 26px;
      h3 {
        font-size: 13px;
        margin-bottom: 15px;
      }
      ul {
        margin-bottom: 15px;
        li {
          line-height: 15px;
        }
      }
    }
    .about__text p {
      margin-bottom: 15px;
    }
  }
  .shop {
    &__inner {
      &-btn {
        margin-bottom: 48px;
        .shop-btn {        
          padding: 11px 30px;
          max-width: 158px;
        }
      }
      &-box {
        margin-bottom: 4px;
        margin-left: -4px;
        .product__item {
          margin-left: 4px;
          margin-bottom: 22px;
        }
      }
    }
  }
  .pagination {
    margin-bottom: 22px;
    margin-top: 18px;
    &__list {
      li {
        display: inline-block;
        & + li {
          margin-left: 23px;
        }
      }
    }
  }
  .product__item {
    &-hover {
      .hover-favorite {
        svg {
          width: 19px;
          height: 18px;
        }
      }
      .hover-basket {
        padding: 6px 0px;
      }
    }
  }
  .product-card {
    &__inner {
      margin-bottom: 40px;
    }
    &__item {
      margin-right: 30px;
    }
    &__gallery {
      .full {
        margin-bottom: 7px;
        img {
          max-width: 324px;
        }
      }
      .thumbs {
        max-width: 324px;
        a {
          & + a {
            margin-left: 8px;
          }
          img {
            max-width: 74px;
          }
        }
      }
    }
    &__code {
      margin-bottom: 17px;
    }
    &__price {
      margin-bottom: 15px;
      p {
        font-size: 26px;
      }
      span {
        font-size: 10px;
        margin-top: 5px;
      }
    }
    &__description {
      p {
        margin-bottom: 17px;
        line-height: 15px;
      }
    }
    &__popular {
      margin-bottom: 17px;
    }
  }
  .viewed-item {
    .product__item {
      & + .product__item {
        margin-left: 4px;
      }
    }
  }
}
@media (max-width:680px) {
  .container {
    max-width: 300px;
    padding: 0px 5px;
  }
  .breadcrumbs {
    display: none;
  }
  .title {
    font-size: 16px;
    line-height: 20px;
    margin-top: 25px;
  }
  .header__menu {
    .menu__list {
      display: none;
      position: absolute;
      top: 63px;
      left: 0;
      right: 0;
      z-index: 20;
      background-color: #fff;
      margin-top: 0;
      padding: 48px 0px;
      height: 360px;
      .dropdown__menu {
        display: none;
      }
      li {
        display: block;
        text-align: center;
        height: auto;          
        margin-bottom: 36px;
        font-size: 17px;
        &:last-child {
          position: relative;
          margin-bottom: 0;
          &::after {
            content: '';
            background-image: url(../images/icons/black-star.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            width: 49px;
            height: 49px;
            margin: 0 auto;
            margin-top: 35px;
          }
        }
        & + li {
          margin-left: 0;
        }
      }
    }
  }
  .header__menu-btn {
    display: block;
    cursor: pointer;
    animation-name: rotateInDownRight;
    animation-duration: 0.3s;
    margin-left: 17px;
    width: 19px;
    margin-top: 2px;
    &::before {
      content: '';
      background-image: url(../images/icons/menu-btn.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      width: 19px;
      height: 15px;
    }
    &.active {
      animation-duration: 0.3s;
      animation-name: rotateIn;
      &::before {
        content: '';
        background-image: url(../images/icons/cross.svg);
        width: 15px;
        height: 15px;
      }
    }
  }
  .header__box {
    display: flex;
  }
  .footer {
    margin-bottom: 85px;
    padding-top: 44px;
  }
  .footer__item {
    &-social {
      margin-bottom: 30px; 
      li + li {
        margin-left: 20px;
      }
      a {
        width: 22px;
        height: 22px;
      }
    }
    &-title {
      font-size: 12px;
    }
    &-news {
      margin-bottom: 30px;
      width: 294px;
      form {
        width: 294px;
        input {
          width: 294px; 
        }
        button {
          padding: 9px 43px;
          width: 294px;
        }
      }
    }
  }
  .banner {
    padding: 30px 0px 20px;
    &__item {
      &-text {
        max-width: 140px;
        margin-right: 7px;
        height: auto;
        h1 {
          font-size: 24px;
          line-height: 30px;
        }
        p {
          display: none;
        }
        img {
          width: 50px;
          height: 40px;
        }
      }
      &-img {
        max-width: 140px;
        height: 140px;
      }
      &-image {
        max-width: 140px;
        min-height: 140px;
      }
    }
    &-btn {
      display: none;
    }
    .btn-mobile {
      display: block;
      margin-top: 15px;
      width: 100%;
    }
  }
    .product__title {
      margin-bottom: 10px;
    }
    .product__item {
      max-width: 140px; 
      &-content {
        margin-top: 5px;
      }
      &-img {
        min-height: 140px;
      }
      &-price {
        margin-left: 18px;
      }
    }
  .popular {
    margin-bottom: 40px;
  }
  .features {
    margin-bottom: 42px;
    &__inner {
      padding: 0px;
    }
    &__item {
      &-img {
        width: 56px;
        height: 56px;
      }
      &-text {
        font-size: 9px;
        line-height: 11px;
      }
      &:last-child {
        display: none;
      }
    }
  }
  .about__item {
    flex-direction: column-reverse;
  }
  .about__img {
    max-width: 292px;
    height: 221px;
    margin: 0px 0px 20px 0px;
  }
  .about__text {
    max-width: 100%;
    margin: 0px 0px 16px 0px;
    p {
      margin-bottom: 15px;
    }
  }
  .info__text {
    margin-bottom: 25px;
    h3 {
      font-size: 13px;
      margin-bottom: 16px;
    }
  }
  .care__items {
    .info__text h3 {
      margin-bottom: 15px;
    }
    .about__text {
      margin-right: 0;
    }
  }
  .care__item {
    flex-direction: column-reverse;
    width: 292px;
    &-mobile {
      flex-direction: column;
    }
  }
  .care__banner { 
    max-width: 292px;
    margin-bottom: 17px;
    a {
      min-height: 291px;
    }
  }
  .liked-product__inner {
    margin-bottom: 66px;
  }
  .basket__inner {
    margin-top: 0px;
    form {
      table {
        .table-head {
          display: none;
        }
      }
      .basket__item {
        &-product {
          width: 268px;
        }
        &-img {
          margin-left: 0;
          margin-right: 10px;
          width: 104px;
          height: 104px;
        }
        &-price, 
        &-total,
        &-sum {
          display: none;
        }
        &-remove {
          width: 20px;
          position: relative;
          a {
            position: absolute;
            top: -50px;
            margin-right: 0;
          }
        }
      }
    }
  }
  .basket__price-mobile {
    display: block;
  }
  .basket__btn-inner {
    width: 100%;
    margin-bottom: 30px;
  }
  .basket__btn-box {
    width: 100%;
    margin-top: 23px;
    a {
      width: 100%;
    }
  }
  .dropdown__menu-basket {
    display: none;
  }
  .confirmation {
    &__inner {
      padding: 100px 0px 97px 0px;
    }
  }
  .liked-product__inner {
    margin-bottom: 20px;
  }
  .contact {
    .about__title {
      margin-bottom: 24px;
    }
    &__inner {
      height: 142px;
      text-align: center;
      margin-top: 60px;
      margin-bottom: 0;
    }
    &__box {
      max-width: 147px;
      margin: 0 auto;
      padding: 0;
      p {
        margin-bottom: 5px;
      }
      a:hover {
        color: $orange;
      }
    }
    &__address {
      margin: 2px 0px 6px;
    }
  }
  .order {
    &__inner {
      .title {
      margin-bottom: 10px;
      }
      h3 {
        margin-bottom: 15px;
      }
      form {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        fieldset {
          max-width: 100%;
          label {
            max-width: 100%;
          }
          .order__input {
            margin: 10px 0px;
            max-width: 100%;
          }
          .jq-selectbox__select {
            font-size: 12px;
            padding: 0 35px 0 10px;
            max-width: 100%;
          }
          .jq-selectbox__dropdown {
          font-size: 12px;
          max-width: 100%;
          }
          .order__checkbox {
            &:last-child {
              margin-top: 10px;
            }
            p {
              max-width: 155px;
            }
          }
        }
      }
      .order__aside {
        max-width: 100%;
        margin-right: 12px;
      }
    }
    &__product {
      max-width: 582px;
      &-label {
        margin-top: 20px;
        margin-bottom: 10px;
      }
      &-box {
        label.delivery__label {
          max-width: 280px;
        }
        .jq-selectbox__select {
          max-width: 100%;
        }
      }
      &-item {
        p {
          width: 62%;
        }
        p.order__product-price {
          width: 38%;
        }
      }
      &-number {
        padding-left: 7px;
        margin-left: 5px;
      }
      &-info {
        padding: 18px 6px;
      }
      &-address {
        margin-bottom: 15px;
        &::before {
          font-size: 12px;
          right: -70px;
        }
      }
      &-delivery {
        margin-bottom: 14px;
        display: none;
        position: relative;
        &::before {
          font-size: 12px;
        }
      }
      &-pay {
        max-width: 272px;
        label {
          margin-bottom: 15px;
        }
        p {
          display: inline-block;
          max-width: 230px;
          width: 100%;
          margin-left: 4px;
        }
        input {
          display: inline-block;
        }
      }
      &-sum {
        padding: 28px 6px;
        justify-content: flex-start;
        font-size: 17px;
      }
      &-btn {
        padding: 12px;
      }
    }
  }
  .payment {
    .info__text {
      .about__title {
      margin: 20px 0px 15px;
      }
    }
  }
  .shop {
    &__inner {
      &-btn {
        flex-wrap: wrap;
        flex-direction: row;
        margin: 25px 0px 48px;
        .shop-btn {        
          padding: 11px 30px;
          max-width: 142px;
          margin-bottom: 11px;
        }
      }
      &-box {
        margin-bottom: 8px;
        margin-left: -8px;
        .product__item {
          margin-left: 8px;
        }
      }
    }
  }
  .pagination {
    margin-bottom: 22px;
    margin-top: 18px;
    font-size: 17px;
    &__list {
      li {
        display: inline-block;
        & + li {
          margin-left: 23px;
        }
      }
    }
  }
  .product__item {
    &-hover {
      .hover-favorite {
        svg {
          width: 19px;
          height: 18px;
        }
      }
      .hover-basket {
        padding: 6px 0px;
      }
    }
  }
  .product-card {
    &__inner {
      margin-bottom: 47px;
      flex-direction: column;
    }
    &__item {
      margin-right: 53px;
    }
    &__gallery {
      margin-top: 25px;
      .full {
        margin-bottom: 6px;
        img {
          max-width: 292px;
        }
      }
      .thumbs {
        max-width: 292px;
        a {
          img {
            max-width: 64px;
          }
        }
      }
    }
    &__text {
      margin-top: 0px;
      .title {
        margin-bottom: 0px;
      }
      .product-form {
        position: relative;
        .jq-number {
          position: absolute;
          bottom: 240px;
          right: 0;
        }
        button {
          width: 100%;
          margin-left: 0px;
          font-size: 16px;
        }
      }
    }  
    &__popular {
      margin-bottom: 17px;
    }
  }
  .viewed-item {
    .product__items {
      display: flex;
      justify-content: flex-start;
    }
    .product__item {
      & + .product__item {
        margin-left: 6px;
      }
    }
  }
  .information {
    .info__text {
      text-align: center;
      margin-top: 40px;
    }
  }
}
@media (min-width:681px) {
  .header__menu {
    .menu__list {
      display: block !important;
    }
    &-btn {
      display: none;
    }
  }
}