@import'_vars';
@import'_global';
@import'_fonts';
//start header 
.header {
  height: 81px;
  &__wrapper {
    border-bottom: 1px solid #1C1B1A;
    background-color: #fff;
    height: 81px;
    top: -81px;
    transition: all 0.5s;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 81px;
  }
  &__logo {
    &-icon {
      background-image: url(../images/icons/logo.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 134px;
      height: 22px;
      display: block;
    }
  }
  &__box { 
    .header__box-list {
      display: flex;
      flex-direction: row; 
      margin-top: 61px;
      li {
        position: relative;
        height: 80px;
        &:hover {
          .dropdown__menu {
            overflow: hidden;
            height: auto;
            transition: all 0.35s;
            border-top: 1px solid #000;
            p {
              padding-top: 11px;
              padding-bottom: 26px;
            }
            .dropdown-btn {
              margin-bottom: 13px;
            }
            .dropdown__item {
              padding: 13px 0px;
              transition: all 0.3s;
              & + .dropdown__item {
                padding-top: 0px;
              }
            }
          }
        }
      }
    }
    a {
      position: relative;
      width: 25px;
      height: 25px;
      &::before {
        content: '';
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
      }
    }
    .favorites-item {
      &::before {
        background-image: url(../images/icons/heart.svg);
        width: 25px;
        height: 25px;
      }
    }
    .basket-item {
      width: 27px;
      margin-left: 13px;
      &::before {
        background-image: url(../images/icons/basket.svg);
        width: 25px;
        height: 25px;
      }
      span {
        position: absolute;
        bottom: -50%;
        right: 0;
        width: 19px;
        height: 19px;
        background-color: $orange;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        transform: translateY(-40%);
        padding-top: 1px;
      }
    }
  }
}
.dropdown__menu {
  position: absolute;
  top: 49px;
  left: 0;
  background-color: #fff;
  z-index: 10;
  border: 1px solid #000;
  border-top: none;
  height: 0;
  overflow: hidden;
  &-info {
    .dropdown__menu-links {
      width: 164px;
    }
  }
  &-links {
    display: block;
    padding: 0px 20px;
    width: 128px;
    transition: all 0.35s;
    &.active {
      background-color: #000;
      color: #fff;
    }
    &:hover {
      background-color: $orange;
      color: #fff;
      transition: all 0.25s;
    }
  }
}
.dropdown__menu-basket {
  width: 285px;
  right: -15px;
  left: auto;
  padding: 0px 13px;
  .dropdown__item {
    width: 261px;
    height: auto;
    &-info {
      position: relative;
      display: flex;
      align-items: center;
      img {
        width: 68px;
        height: 68px;
        display: inline-block;
        border: 1px solid #000;
        margin-right: 8px;
      }
      .info-name {
        display: inline-block;
        text-align: start;
        width: 127px;
      }
      button {
        position: absolute;
        right: 3px;
        top: 0;
        width: 15px;
        height: 15px;
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
      }
    }
    .info-price {
      color: #828282;
      line-height: 20px;
      margin-top: 5px;
    }
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
  p {
    border-top: 1px solid #828282;
    text-transform: uppercase;
    span {
      margin-left: 23px;
      text-transform: none;
      font-size: 20px;
    }
  }
  .dropdown-btn {
    width: 100%;
    border: 1px solid #000;
    padding: 8px 0px;
    height: 35px;
    text-align: center;    
    &:hover {
      transition: all 0.35s;
      background-color: $orange;
      border: 1px solid $orange;
      color: #fff;
    }
  }
}
.header__menu {
  .menu__list {
    display: flex;
    align-items: center;
    margin-top: 61px;
    li{
      display: inline-block;
      height: 80px;
      position: relative;
      .menu__links {
        font-weight: 600;
      }
      & + li {
        margin-left: 68px;
      }
      &:hover {
        a.menu__links{
          color: $orange;
        }
        .dropdown__menu {
          overflow: hidden;
          height: auto;
          transition: all 0.35s;
          font-weight: 400;
          .dropdown__menu-links {
            padding: 10px 20px;
          }
        }
      }
    }
  }
}
.fixed {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 99998;
  transition: all 0.5s;
}

//end header
//start banner section 
.banner {
  padding: 80px 0px 90px;
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__slick {
    position: relative;
    .slick-dots {      
      position: absolute;
      bottom: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0; 
      right: 50%;
      left: 50%;
      li {
        width: 9px;
        height: 9px;
        margin: 0px 6px;
        &.slick-active {
          button {
            background-color: #000;
            opacity: 1;
          }
        }
      }
      button {
        background-color: #fff;
        opacity: 0.6;
        width: 9px;
        height: 9px;
        border: none;
        border-radius: 50%;
        padding: 0px;
      }
    }
  }
  &__item {
    &-text {
      max-width: 295px;
      width: 100%;
      margin-right: 15px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      h1 {
        font-size: 48px;
        line-height: 57px;
        max-width: 295px;
        width: 100%;
        padding-bottom: 35px;
      }
      p {
        font-size: 18px;
        line-height: 25px;
        padding-bottom: 32px;
      }
      img {
        width: 104px;
        height: 84px;
        margin: 0 auto;
        margin-bottom: 40px;
      }
    }
    &-img {
      max-width: 863px;
      width: 100%;
      height: 520px;
    }
    &-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      max-width: 863px;
      width: 100%;
      min-height: 520px;
      display: block;
      border: 1px solid #000;
    }
  }
  &-btn {
    padding: 20px 63px;
  }
  .btn-mobile {
    display: none;
  }
}

//end banner section
//start popular section
.popular {
  position: relative;
  margin-bottom: 110px;
}
.product__title {
  margin-bottom: 20px;
}
.product__item { 
  max-width: 283px;
  width: 100%;
  position: relative;
  &-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    min-height: 283px;
    border: 1px solid #000;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  &-hover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.05);
    min-height: 283px;
    max-width: 283px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    .hover-favorite {
      position: relative;
      display: none;
      &:hover,
      &:active,
      &:focus {
        g {
          fill: $red;
        }
      }
      svg {
        position: absolute;
        top: 11px;
        right: 12px;
        width: 25px;
        height: 25px;
      }
      /*&::before {
        content: '';
        background-image: url(../images/icons/heart.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        top: 11px;
        right: 12px;
      }*/ 
    }
    .hover-basket {
      width: 100%;
      background-color: #000;
      color: #fff;
      padding: 15px 0px;
      text-align: center;
      opacity: 0;        
      border: 1px solid #000;
      border-top: none;
      &:hover {
        background-color: $orange;
        transition: all 0.3s;
      }
    }
  }
  &:hover {
    .product__item-hover {
      opacity: 1;
      display: flex;
      transition: all 0.5s;
      .hover-basket {
        opacity: 1;
      }
      .hover-favorite {
        display: block;
      }
    }
  }
}
.slick-arrow {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -55px;
  right: 0;
  outline: none;
  img {
    width: 35px;
    height: 35px;  
  }
}
.slick-prev {
  right: 45px;
}
//end popular section
//start features section
.features {
  margin-bottom: 94px;
  &__inner {
    padding: 0px 115px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-img {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: block;
      height: 84px;
      width: 84px;
      margin: 0 auto;
      margin-bottom: 32px;
    }
    &-text {
      font-size: 19px;
      line-height: 25px;
      span {
        display: block;
      }
    }
  }
}
.earrings,
.rings,
.pendants {
  margin-bottom: 50px;
}
//end features section
//start footer
.footer {
  padding-top: 54px;
  margin-bottom: 133px;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__item {
    &-social {
      margin-bottom: 44px;
      li {
        display: inline-block;
        & + li {
          margin-left: 30px;
        }
      }
      a {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
        width: 30px;
        height: 30px;
      }
    }
    &-title {
      text-align: center;
      margin-bottom: 25px;
      font-weight: 600;
    }
    &-news {
      margin-bottom: 50px;
      form {
        display: flex;
        flex-direction: column;
        width: 305px;
        input {
          border: none;
          border-bottom: 1px solid #000;
          outline: none;
          width: 305px;
          padding: 8px 15px;
          outline: none;
          box-shadow: none;
          margin-bottom: 25px;
          &::placeholder {
            text-align: center;
            color: #1C1B1A;
            font-family: 'HypatiaSansPro';
            font-weight: 400;
          }
        }
        button {
          padding: 15px 93px;
          border: none;
        }
      }
    }
  }
}
//end footer
//start shop page
.shop {
  &__inner {
    text-align: center;
    &-btn {
      display: flex;
      justify-content: space-between;
      margin-bottom: 70px;
      .shop-btn {        
        text-align: center;
        border: none;
        padding: 20px 80px;
        max-width: 283px;
        width: 100%;
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
        &.active {
          background-color: #000;
          color: #fff;
        }
        &:hover,
        &:active {
          background-color: #000;
          color: #fff;
          transition: all 0.3s;
        }
      }
    }
    &-box {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 12px;
      margin-left: -12px;
      .product__item {
        margin-left: 12px;
        margin-bottom: 62px;
      }
    }
  }
}
.pagination {
  text-align: center;
  font-weight: 700;
  margin-bottom: 80px;
  &__list {
    li {
      display: inline-block;
      & + li {
        margin-left: 23px;
      }
    }
  }
}
//end shop page
//start about page
.about {
  &__title {
    margin-bottom: 19px;
  }
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__text {
    max-width: 580px;
    width: 100%;
    margin-bottom: 110px;
    margin-right: 25px;
    p {
      margin-bottom: 25px;
    }
  }
  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    width: 588px;
    height: 445px;
    border: 1px solid #000;
  }
}
//end about page
//start info page
.info__text {
  max-width: 619px;
  width: 100%;
  ul {
    margin-bottom: 25px;
    li {
      margin-bottom: 25px;
    }
    .text-marked {
      position: relative;
      padding-left: 10px;
      &::before {
        content: '•';
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  h3 {
    margin-bottom: 25px;
    font-size: 20px;
    
  }
}
.payment {
  .info__text {
    max-width: 457px;
    width: 100%;
    li {
      margin-bottom: 0;
      line-height: 23px;
    }
  }
}
//end info page
//start contacts page
.contact {
  .about__title {
    margin-bottom: 40px;
  }
  &__inner {
    display: flex;
    border: 1px solid #000;
    height: 282px;
    margin-bottom: 86px;
  }
  &__box {
    border-right: 1px solid #000;
    max-width: 288px;
    width: 100%;
    padding: 55px 50px 60px;
    p {
      margin-bottom: 20px;
    }
    .footer__item-social {
      margin-bottom: 0;
    }
  }
  &__address {
    margin: 12px 0px;
  }
  &__map {
    width: 100%;
    iframe {
      width: 100%;
      height: 280px;
    }
  }
}
//end contacts page
//start liked-product page
.liked-product {
  &__inner {
    display: flex;
    justify-content: flex-start;
    margin-left: -19px;
    margin-bottom: 200px;
    .product__item {
      position: relative;
      margin-left: 19px;
      .liked-product__delete {
        position: relative;
        button {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          width: 14px;
          height: 14px;
          border: none;
          background-color: transparent;
          position: absolute;
          top: 12px;
          right: 12px;
        }
      }
    }
  }
}
//end liked-product page
//start care page
.care {
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .info__text {
      max-width: 590px;
      h3 {
        margin-bottom: 28px;
      }
    }
    .about__text {
      margin-right: 20px;
    }
    ul {
      li {
        position: relative;
        padding-left: 20px;
        &::before {
          content: '—';
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  &__item {
    display: flex;
    width: 588px;
    flex-direction: column;
  }
  &__img,
  &__banner {
    a {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid #000;
    }
  }
  &__banner {
    max-width: 588px;
    margin-bottom: 255px;
    a {
      min-height: 586px;
      width: 100%;
    }
  }
  &__img-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
  }
  &__img-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 294px;
    width: 100%;
    min-height: 293px;
  }
  &__icon {
    width: 82px;
    height: 82px;
  }
  &__img {
    max-width: 294px;
    width: 100%;
    a {
      width: 100%;
      min-height: 293px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
    }
  }
}
//end care page
//start product-card page
.product-card {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
  }
  &__item {
    margin-right: 108px;
    #largeImg {
      border: 1px solid #000;
      width: 588px;
      height: 588px;
      margin-bottom: 15px;
      transition: all 0.3s;
    }
    #thumbs a {
      width: 134px;
      height: 134px;
      margin-right: 15px;
      float: left;
      outline: none;
      transition: all 0.3s;
    }
    #thumbs li {
      list-style: none;
      img {
        border: 1px solid #000;
      }
    }
    #thumbs {
      margin: 0;
      padding: 0;
    }
  }
  &__text {
    margin-top: 70px;
    .title {
      margin-bottom: 10px;
    }
    form {
    margin-top: 7px;    
    button {
      border: none;
      padding: 9px 54px;
      height: 35px;
      margin-top: 0;
      margin-left: 15px;
      text-transform: none;
      }
    }
    
  }
  &__code {
    color: #1C1B1A;
    margin-bottom: 30px;
  }
  &__price {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 25px;
    span {
      font-size: 16px;
      display: block;
      margin-top: 10px;
    }
  }
  &__description {
    p {
      margin-bottom: 24px;
    }
  }
}
.product-form {
  .jq-number {
    padding: 0 34px 0 0;
    height: 35px;
    vertical-align: baseline;
  }
  .jq-number.focused {
    .jq-number__field {
      border: none;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
    }
  }
  .jq-number__field {
    margin-left: 34px;
    border-radius: 0px; 
    width: 35px;
    border: 1px solid #000;
    border-left: transparent;
    border-right: transparent;
    box-shadow: none;
    height: 35px;
    input {
      padding: 8px;
      text-align: center;
      font-family: 'HypatiaSansPro';
      font-weight: 600;
      font-size: 16px;
      height: 35px;
      &:focus,
      &:active,
      &:hover {
        outline: none !important;
        border: none;
      }
    }
  }
  .jq-number__spin {
    border-radius: 0px;
    background: #fff;
    border: 1px solid #000;
    width: 34px;
    height: 35px;
    font-family: 'HypatiaSansPro';
    font-weight: 600;
    font-size: 16px;
    box-shadow: none;
  }
  .jq-number__spin.minus {
    left: 0;
    &::after {
      border: none;
      content: '-';
      top: 8px;
      left: 14px;
    }
  }
  .jq-number__spin.plus {
    &::after {
      border: none;
      content: '+';
      top: 7px;
    }
  }
  .jq-selectbox.jqselect {
    display: block;
    max-width: 296px;
    width: 100%;
    margin-bottom: 15px;
  }
  .jq-selectbox__select {
    height: 34px;
    padding: 0 45px 0 10px;
    border: 1px solid #000;
    border-radius: 0px;
    background: #fff;
    font-family: 'HypatiaSansPro';
    font-size: 16px;
    color: #000;
    box-shadow: none;
  }
  .jq-selectbox__trigger {
  border-left: 1px solid #000;
  &-arrow {
    border: none;
    background-image: url(../images/icons/arrow-down.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 9px;
    display: block;
    top: 12px;
    right: 8px;
  }
  }
  .jq-selectbox.focused {
  .jq-selectbox__select {
    border: 1px solid #000;
  }
  }
  .jq-selectbox__dropdown {
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #000;
  border-radius: 0px;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  font-family: 'HypatiaSansPro';
  font-size: 16px;
  }
  .jq-selectbox li {
  &:hover {
  background-color: #000;
  color: #FFF; 
  }
  }
  .jq-selectbox li.selected {
  background-color: #000;
  color: #FFF; 
  }
}

.viewed-item {
  .product__items {
    display: flex;
    justify-content: flex-start;
  }
  .product__item {
    & + .product__item {
      margin-left: 22px;
    }
  }
}
//end product-card page
//start basket page
.basket {
  &__inner {  
    margin-top: 30px; 
    margin-bottom: 130px;  
    table {
      border-bottom: 2px solid #fff; 
      border-collapse: collapse;
      td {
        border-bottom: 1px solid #000;
        padding: 35px 0px;
      }
      th {
        background-color: #000;
        color: #fff;
        padding: 15px 0px;
        .basket__item-product {
          margin-left: 10px;
        }
      }
    }
  }
  &__item {
    &-product {
      display: flex;
      align-items: center;
      width: 530px;
    }
    span {
      display: block;
      font-weight: 600;
    }
    &-img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 112px;
      height: 112px;
      border: 1px solid #000;
      margin-right: 15px;
      margin-left: 7px;
    }
    &-price,
    &-sum,
    &-total {
      display: flex;
      justify-content: center;
      width: 190px;
      font-weight: 600;
    }
    &-remove {
      width: 70px;
      display: flex;
      justify-content: flex-end;
      a {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 15px;
        height: 15px;
        display: block;
        margin-right: 10px;
      }
    }
  }
  &__btn-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30px;
    a {
      padding: 20px 10px;
      display: block;
      width: 421px;
      text-align: center;
      &.basket__btn {
        color: #1C1B1A;
        border: 1px solid #1C1B1A;
        margin-top: 15px;
      }
    }
    p {
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 20px;
      span {
        text-transform: none;
      }
    }
  }
}
//end basket page
//start ordering page
.order {
  &__inner {
    .title {
    margin-bottom: 20px;
    }
    h3 {
      margin-bottom: 22px;
    }
    form {
      display: flex;
      margin-bottom: 150px;
      fieldset {
        padding: 0;
        border: none;
        margin-left: 0;
        input, label, select {
          display: block;
        }
        label {
          max-width: 285px;
          width: 100%;
        }
        .order__checkbox {
          margin-top: 30px;
          p {
            display: inline-block;
          }
        }
        .order__input {
          margin-top: 13px;
          margin-bottom: 13px;
          max-width: 285px;
          width: 100%;
          padding: 5px 10px;
          border: 1px solid #000;
          &:active, 
          &:focus, 
          &:hover {
            box-shadow: none;
            outline: none;
            border: 1px solid #000;
          }
          &::placeholder {
            color: #828282;
          }
        }
        .jq-selectbox {
          display: block;
          margin-top: 13px;
          margin-bottom: 13px;
        }
        .jq-selectbox__select {
          height: 32px;
          padding: 0 45px 0 10px;
          border: 1px solid #000;
          border-radius: 0px;
          background: #fff;
          font-family: 'HypatiaSansPro';
          font-size: 16px;
          color: #000;
          box-shadow: none;
          text-shadow: none;
          max-width: 285px;
          width: 100%;
      }
      .jq-selectbox__trigger {
        border-left: none;
        &-arrow {
          border: none;
          background-image: url(../images/icons/arrow-down.svg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 16px;
          height: 9px;
          display: block;
          top: 12px;
          right: 8px;
        }
      }
        .jq-selectbox.focused {
        .jq-selectbox__select {
          border: 1px solid #000;
        }
        }
        .jq-selectbox__dropdown {
        box-sizing: border-box;
        max-width: 285px;
        width: 100%;
        margin: 2px 0 0;
        padding: 0;
        border: 1px solid #000;
        border-radius: 0px;
        background: #FFF;
        box-shadow: none;
        font-family: 'HypatiaSansPro';
        font-size: 16px;
        }
        .jq-selectbox li {
        &:hover {
        background-color: #000;
        color: #FFF; 
        }
        }
        .jq-selectbox li.selected {
        background-color: #000;
        color: #FFF; 
        }
      }
      .jq-checkbox,
      .jq-radio {
        width: 15px;
        height: 15px;
        margin: 0 10px 0 0;
        border: 1px solid #000;
        background: #fff;
        box-shadow: none;
        border-radius: 0px;
        display: inline-block;
    }
    .jq-checkbox.checked .jq-checkbox__div,
    .jq-radio.checked .jq-radio__div  {
      width: 9px;
      height: 9px;
      margin: 2.2px auto;
      border: none;
      background-color: #000;
      transform: none;
  }
    }
    .order__aside {
      max-width: 285px;
      width: 100%;
      margin-right: 20px;
    }
  }
  &__checkbox {
    display: flex;
    p {
      max-width: 220px;
      width: 100%;
    }
  }
  &__product {
    max-width: 605px;
    width: 100%;
    &-label {
      margin-bottom: 13px;
    }
    &-box {
      border: 1px solid #000;
      border-bottom: none;
    }
    &-item {
      display: flex;
      &:last-child {
        p {
          border-bottom: none;
        }
      }
      p {
        width: 50%;
        padding: 10px;
        border-bottom: 1px solid #000;
      }
    }
    &-header {
      p {
        padding: 5px 10px;
      }
    }
    &-number {
      padding-left: 12px;
      margin-left: 8px;
      font-weight: 600;
      position: relative;
      &::before {
        content: 'x';
        position: absolute;
        left: 0;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 20px;
      padding-bottom: 10px;
    }
    &-address {
      color: #828282;
      margin-bottom: 15px;
      position: relative;
      &::before {
        content: '0 руб.';
        color: #000;
        position: absolute;
        font-size: 16px;
        font-weight: 600;
        display: block;
        bottom: 37px;
        right: 22px;
        z-index: 10;
      }
    }
    &-delivery {
      margin-bottom: 14px;
      display: none;
      position: relative;
      &::before {
        content: '350 руб.';
        position: absolute;
        font-size: 16px;
        font-weight: 600;
        display: block;
        bottom: 37px;
        right: 32px;
        z-index: 10;
      }
      &.active {
        display: block;
      }
    }
    &-pay {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      max-width: 285px;
      width: 100%;
      label {
        margin-bottom: 15px;
      }
      p {
        display: inline-block;
        max-width: 230px;
        width: 100%;
        margin-left: 4px;
      }
      input {
        display: inline-block;
      }
    }
    &-row {
      display: flex;
      margin-bottom: 15px;
      .jq-radio.checked .jq-radio__div {
        border-radius: 0px;
    }
    }
    &-sum {
      border: 1px solid #000;
      padding: 28px;
      display: flex;
      justify-content: flex-end;
      font-size: 20px;
      font-weight: 600;
      p {
        width: 50%;
        text-transform: uppercase;
        span {
          text-transform: none;
        }
      }
    }
    &-btn {
      margin-top: 15px;
      text-transform: uppercase;
      padding: 15px;
      width: 100%;
      border: none;
    }
  }
}
//end ordering page
//start confirmation page
.confirmation {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0px 170px;
  }
  &__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 116px;
    height: 116px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px; 
    font-size: 30px;
    line-height: 40px;
    a {
      font-weight: 600;
    }
  }
}
//end confirmation page
@import '_media';